In [1]:
!pip install openpyxl

Requirement already satisfied: openpyxl in /opt/anaconda3/lib/python3.12/site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in /opt/anaconda3/lib/python3.12/site-packages (from openpyxl) (1.1.0)

In [2]:
import pandas as pd
df= pd.read_excel("zappos_men.xlsx",sheet_name="Sheet1")

In [3]:
df.head()

,BRAND,MODEL,PRICE,REVIEWS,DATE,NAMES,OVERALL_RATINGS,TRUE_TO_SIZE,TRUE_TO_WIDTH
0,Hey Dude,Wally Linen Natural,64.99,Bought these for my son and he LOVES them!!! H...,"November 13, 2024",BOBBI,5.0,0.01,0.005
1,Hey Dude,Wally Linen Natural,64.99,I get lots of compliments for these .,"July 9, 2024",Jon,5.0,0.01,0.005
2,Hey Dude,Wally Linen Natural,64.99,I love my Dude's!,"June 18, 2024",Annette,5.0,0.01,0.005
3,Hey Dude,Wally Linen Natural,64.99,Love these!!,"May 24, 2024",Paege,5.0,0.01,0.005
4,Hey Dude,Wally Linen Natural,64.99,Probably my favorite,"May 8, 2024",Jeana,5.0,0.01,0.005

In [4]:
!pip install nltk

Requirement already satisfied: nltk in /opt/anaconda3/lib/python3.12/site-packages (3.9.1)
Requirement already satisfied: click in /opt/anaconda3/lib/python3.12/site-packages (from nltk) (8.1.7)
Requirement already satisfied: joblib in /opt/anaconda3/lib/python3.12/site-packages (from nltk) (1.4.2)
Requirement already satisfied: regex>=2021.8.3 in /opt/anaconda3/lib/python3.12/site-packages (from nltk) (2024.9.11)
Requirement already satisfied: tqdm in /opt/anaconda3/lib/python3.12/site-packages (from nltk) (4.66.5)

In [5]:
import nltk
print(nltk.data.path)

['/Users/ay/nltk_data', '/opt/anaconda3/nltk_data', '/opt/anaconda3/share/nltk_data', '/opt/anaconda3/lib/nltk_data', '/usr/share/nltk_data', '/usr/local/share/nltk_data', '/usr/lib/nltk_data', '/usr/local/lib/nltk_data']

In [6]:
pip install --upgrade nltk

Requirement already satisfied: nltk in /opt/anaconda3/lib/python3.12/site-packages (3.9.1)
Requirement already satisfied: click in /opt/anaconda3/lib/python3.12/site-packages (from nltk) (8.1.7)
Requirement already satisfied: joblib in /opt/anaconda3/lib/python3.12/site-packages (from nltk) (1.4.2)
Requirement already satisfied: regex>=2021.8.3 in /opt/anaconda3/lib/python3.12/site-packages (from nltk) (2024.9.11)
Requirement already satisfied: tqdm in /opt/anaconda3/lib/python3.12/site-packages (from nltk) (4.66.5)
Note: you may need to restart the kernel to use updated packages.

In [8]:
print(nltk.data.path)

['/Users/ay/nltk_data', '/opt/anaconda3/nltk_data', '/opt/anaconda3/share/nltk_data', '/opt/anaconda3/lib/nltk_data', '/usr/share/nltk_data', '/usr/local/share/nltk_data', '/usr/lib/nltk_data', '/usr/local/lib/nltk_data']

In [9]:
import nltk
nltk.download('punkt_tab', download_dir='/Users/ay/nltk_data')

[nltk_data] Downloading package punkt_tab to /Users/ay/nltk_data...
[nltk_data]   Package punkt_tab is already up-to-date!

True

In [10]:
nltk.data.path.append('/Users/ay/nltk_data')
print(nltk.data.path)

['/Users/ay/nltk_data', '/opt/anaconda3/nltk_data', '/opt/anaconda3/share/nltk_data', '/opt/anaconda3/lib/nltk_data', '/usr/share/nltk_data', '/usr/local/share/nltk_data', '/usr/lib/nltk_data', '/usr/local/lib/nltk_data', '/Users/ay/nltk_data']

In [11]:
import pandas as pd
import re
import nltk
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer

# Force re-download of the required NLTK data
nltk.download('punkt', force=True)
nltk.download('stopwords', force=True)

# Print out the NLTK data paths to verify correct directories are used
print("NLTK data paths:", nltk.data.path)

def preprocess_text(text):
    if not isinstance(text, str):
        return ""
    
    
    # Convert to lowercase
    text = text.lower()
    
    # Remove punctuation and special characters
    text = re.sub(r'[^a-zA-Z0-9\s]', '', text)
    
    # Tokenization using the correct 'punkt' resource
    tokens = word_tokenize(text)
    
    # Remove stopwords
    stop_words = set(stopwords.words('english'))
    filtered_tokens = [word for word in tokens if word not in stop_words]
    
    # Stemming (Porter Stemmer)
    stemmer = PorterStemmer()
    stemmed_tokens = [stemmer.stem(word) for word in filtered_tokens]
    
    return ' '.join(stemmed_tokens)  # Return cleaned text as a string

# Read the Excel file from the specified sheet
df = pd.read_excel("zappos_men.xlsx", sheet_name="Sheet1")

# Apply the preprocess_text function to the 'REVIEWS' column
df['processed_reviews'] = df['REVIEWS'].apply(preprocess_text)

# Display the first few rows to verify the changes
print(df[['REVIEWS', 'processed_reviews']].head())

[nltk_data] Downloading package punkt to /Users/ay/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package stopwords to /Users/ay/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

NLTK data paths: ['/Users/ay/nltk_data', '/opt/anaconda3/nltk_data', '/opt/anaconda3/share/nltk_data', '/opt/anaconda3/lib/nltk_data', '/usr/share/nltk_data', '/usr/local/share/nltk_data', '/usr/lib/nltk_data', '/usr/local/lib/nltk_data', '/Users/ay/nltk_data']
                                             REVIEWS  \
0  Bought these for my son and he LOVES them!!! H...
1              I get lots of compliments for these .
2                                  I love my Dude's!
3                                       Love these!!
4                               Probably my favorite

                                   processed_reviews
0  bought son love wear almost everi day definit ...
1                                 get lot compliment
2                                          love dude
3                                               love
4                                    probabl favorit

In [12]:
def process_reviews(df):
    df['processed_reviews'] = df['REVIEWS'].apply(preprocess_text)
    return df

# Use the function
processed_df = process_reviews(df)
print(processed_df.head())

      BRAND                MODEL  PRICE  \
0  Hey Dude  Wally Linen Natural  64.99
1  Hey Dude  Wally Linen Natural  64.99
2  Hey Dude  Wally Linen Natural  64.99
3  Hey Dude  Wally Linen Natural  64.99
4  Hey Dude  Wally Linen Natural  64.99

                                             REVIEWS               DATE  \
0  Bought these for my son and he LOVES them!!! H...  November 13, 2024
1              I get lots of compliments for these .       July 9, 2024
2                                  I love my Dude's!      June 18, 2024
3                                       Love these!!       May 24, 2024
4                               Probably my favorite        May 8, 2024

     NAMES  OVERALL_RATINGS  TRUE_TO_SIZE  TRUE_TO_WIDTH  \
0    BOBBI              5.0          0.01          0.005
1      Jon              5.0          0.01          0.005
2  Annette              5.0          0.01          0.005
3    Paege              5.0          0.01          0.005
4    Jeana              5.0          0.01          0.005

                                   processed_reviews
0  bought son love wear almost everi day definit ...
1                                 get lot compliment
2                                          love dude
3                                               love
4                                    probabl favorit

In [13]:
# dropping all null values 
df.dropna(inplace=True)


# dropping columns 
df.drop(columns=['REVIEWS'], inplace=True)

#reset index 
df.reset_index(drop =True, inplace=True)

In [14]:
# splitting the name columns to drop "zappos customer"
df['NAME'] = df['NAMES'].str.replace(r', Zappos Customer', '', regex=True).str.strip()

In [15]:
# convert price column to float 
df['PRICE'] = pd.to_numeric(df['PRICE'], errors='coerce')

In [16]:
len(df)

2293

In [17]:
df.head()

,BRAND,MODEL,PRICE,DATE,NAMES,OVERALL_RATINGS,TRUE_TO_SIZE,TRUE_TO_WIDTH,processed_reviews,NAME
0,Hey Dude,Wally Linen Natural,64.99,"November 13, 2024",BOBBI,5.0,0.01,0.005,bought son love wear almost everi day definit ...,BOBBI
1,Hey Dude,Wally Linen Natural,64.99,"July 9, 2024",Jon,5.0,0.01,0.005,get lot compliment,Jon
2,Hey Dude,Wally Linen Natural,64.99,"June 18, 2024",Annette,5.0,0.01,0.005,love dude,Annette
3,Hey Dude,Wally Linen Natural,64.99,"May 24, 2024",Paege,5.0,0.01,0.005,love,Paege
4,Hey Dude,Wally Linen Natural,64.99,"May 8, 2024",Jeana,5.0,0.01,0.005,probabl favorit,Jeana

In [18]:
df.to_excel("processed_reviews.xlsx", index=False)

print("File saved successfully!")

File saved successfully!